.article
  margin: 70px 0
  border-bottom: 1px dashed #dfe2db
  text-align: justify

.article-date + .tooltip.right > .tooltip-arrow
  border-right: 5px solid #fff

.article-header
  margin-bottom: 25px

.article-info
  margin-bottom: 20px

.article-entry
  margin-bottom: 15px
  clearfix()
  .article-more-link
    margin-top: 20px
    text-align: right
    font-size: 12px
    font-weight: bold
    a
      background-color: #dfe2db
      border-radius: 10px 10px 10px 10px
      color: #fff
      padding: 3px
      &:hover
        background-color: #991A1A
        text-decoration: none
  ul, ol, dl
    margin-top: line-height
    margin-bottom: line-height
  img, video
    max-width: 100%
    height: auto
    display: block
    margin: auto
  iframe
    border: none
  table
    width: 100%
    border-collapse: collapse
    border-spacing: 0
  th
    font-weight: bold
    border-bottom: 3px solid color-border
    padding-bottom: 0.5em
  td
    border-bottom: 1px solid color-border
    padding: 10px 0
  blockquote
    font-family: font-serif
    font-size: 1.4em
    margin: line-height 20px
    text-align: center
    footer
      font-size: font-size
      margin: line-height 0
      font-family: font-sans
      cite
        &:before
          content: "—"
          padding: 0 0.5em
  .pullquote
    text-align: left
    width: 45%
    margin: 0
    &.left
      margin-left: 0.5em
      margin-right: 1em
    &.right
      margin-right: 0.5em
      margin-left: 1em
  .caption
    color: color-grey
    display: block
    font-size: 0.9em
    margin-top: 0.5em
    position: relative
    text-align: center
  // http://webdesignerwall.com/tutorials/css-elastic-videos
  .video-container
    position: relative
    padding-top: (9 / 16 * 100)% // 16:9 ratio
    height: 0
    overflow: hidden
    iframe, object, embed
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      margin-top: 0

.article-tags
  margin-bottom: 20px

.tags-item
  margin: 0.3em 0.3em 0 0
  padding: 0.3em 0.9em
  -webkit-border-radius: 3px
  -moz-border-radius: 3px
  border-radius: 5px
  color: #dfe2db
  background-color: #191919
  font-size: 12px
  &:hover
    color: #fff056
    text-decoration: none
    
#page-nav
  clearfix()
  margin: 80px auto
  border-radius: 8px
  text-align: center
  overflow: hidden
  a, span
    padding: 1px 9px
  a
    color:#191919
    text-decoration: none
    &:hover
      color: #fff
      background-color: #991A1A
      text-decoration: none
  .prev
    float: left
  .next
    float: right
  .page-number
    display: inline-block
    @media mq-mobile
      display: none
  .current
    color: #fff
    background-color: #dfe2db
    font-weight: bold