body
  @extend $base-style
  margin: 0

#table-fit
  border-collapse: collapse
  margin-left: auto
  margin-right: auto

#table-fit td, #table-fit th
  border: 0px
  padding: 5px

#table-fit th
  padding-top: 2px
  padding-bottom: 2px
  text-align: left

#main
  width: 800px
  max-width: 800px;
  margin: auto
