.footer
  width: 100%
  margin-top: 35px
  position:absolute
  padding: 20px 0
  color: #373332
  text-align: center
  background-color: #efefef
  border-top: 1px solid #d8d8d8
  font-size: 12px
  p:last-child
    margin-bottom: 0