<article class="archive-article archive-type-<%= post.layout %>">
  <div class="archive-date-wrap">
  <%- partial('post/date', {class_name: 'archive-date'}) %> 
  </div>
  <div class="archive-title-wrap">
  <%- partial('post/title', {class_name: 'archive-title', type: ''}) %>
  </div>
</article>